/server/plugins/FastAsyncWorldEdit
/server/logs
/server/world
/server/world_nether
/server/world_the_end
/server/bundler
/server/plugins/PluginMetrics
/server/crash-reports
/server/plugins/FastAsyncWorldEdit-Bukkit-2.8.4-SNAPSHOT-624.jar
/server/plugins/Catan/config.yml
/server/commands.yml
/server/permissions.yml
/server/plugins/bStats
/server/banned-ips.json
/server/banned-players.json
/server/bukkit.yml
/server/server.properties
/server/start.bat
/server/whitelist.json
/server/spigot-1.20.4.jar
/server/spigot.yml
/server/ops.json
/server/usercache.json
/server/eula.txt
/server/help.yml
/server/wepif.yml
/pom.xml
/.idea
/Catan.iml
/target
